#categorias-container{
  margin: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

app-tarjeta-categoria{
  width: 100%;
}


/* Medias query para pantallas pequeñas (por ejemplo, menos de 768px de ancho) */
@media (max-width: 768px) {
  #categorias-container{
    margin: 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
}