@use "./../../../assets/styles/variables.scss";

h2{
  margin-top: 50px;
  font-size: xx-large;
  text-align: center;
}

#tarjetas-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: variables.$border-radius-chico;
  overflow: hidden;
  width: 50%;
  max-width: 50%;
  position: relative;
  margin-left: 30%;
}

.tarjeta-producto-container{
  position: relative;
  display: flex;
  height: 100%;
  background-color: variables.$color-principal-claro;
  > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
}

#izq{
  width: 20%;
  height: 100px;
  background-color: bisque;
  background-size: cover;
  background-position: center;
  border-radius: variables.$border-radius-chico;
  > div{
    position: absolute;
    bottom: 8px;
    left: 8px;
    img{
      height: 20px;
      background-color: variables.$color-sello-comida;
      border-radius: 50%;
    }
  }
}

#centro{
  width: 55%;
}

#der{
  width: 10%;
  align-items: flex-end;
}

#borrar{
  background-color: #dfe7f8;
  border: unset;
  cursor: pointer;
  padding: 0;
  width: 50px;
  height: 50px;
}

#mas {
  height: 28px;
  font-size: xx-large;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #052fb8;
  padding: 15px 15px;
  border-radius: variables.$border-radius-chico;
}

#mas:hover{
  background-color: #0a1f4d;
}

.agregar{
  text-align: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
}

#informacion{
  width: 50%;
  margin-left: 30%;
  font-size: larger;
}

#envios-container{
  background-color: variables.$color-principal-claro;
  border-radius: variables.$border-radius-chico;
  padding: 10px;
  margin: 10px 0;
  align-items: center;
  h4{
    font-size: larger;
  }
}

#montos{
  text-align: end;
}

#totales > div {
  display: flex;
  flex-direction: column;
  gap:5px;
}

#enviar{
  display: block;
  width: 400px;
  margin-top: 20px;
  margin-left: 35%;
  max-width: 60%;
  font-size: larger;
  background-color: rgb(145, 254, 145);
  border: unset;
  cursor: pointer;
  padding: 10px;
  border-radius: variables.$border-radius-chico;
  font-weight: bold;
}

#enviar:hover{
  background-color: rgb(81, 253, 81);
}

#boton-editar-direccion{
  padding-right: 5px;
  width: 30px;
  height: 30px;
}

dialog{
  background-color: variables.$color-principal-claro;
  border-radius: variables.$border-radius-chico;
  border: unset;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.156);
  div{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }
  button{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    &:first-of-type{
      background-color: rgb(211, 255, 211);
    }
    &:last-of-type{
      background-color: rgb(255, 211, 211);
    }
    span:first-child{
      font-size: x-large;
    }
  }
  p{
    font-size: x-large;
    text-align: center;
  }
}



/* Medias query para pantallas pequeñas (por ejemplo, menos de 768px de ancho) */
@media (max-width: 768px) {
  #enviar{
    background-color: rgb(145, 254, 145);
    display: block;
    width: 400px;
    margin-top: 20px;
    margin-left: 15%;
    max-width: 70%;
    font-size: larger;
    border: unset;
    cursor: pointer;
    padding: 10px;
    border-radius: variables.$border-radius-chico;
    font-weight: bold;
  }

  #tarjetas-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: variables.$border-radius-chico;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-left: 0;
  }

  #informacion{
    width: 100%;
    margin-left: 0;
    font-size: larger;
  }
}